<section id="home" >
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-9" data-aos="flip-right">
                <canvas #canvas id="canvas">   
                </canvas>
            </div>      
            <div class="col-lg-6 col-9" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="hero-container aos-init aos-animate">
                    <h1 class="mt-3 d-flex justify-content-center">Mohammed Rabaj</h1>       
                </div>
                <p><span class="typed"></span></p>
            </div>
            <div class="col-lg-12" style="margin-top:5%" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <div class="sidebar">
                    <a class="btn cvVersionFr" href="{{'model.hrefLangDownload' | translate}}" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">  {{'model.download' | translate}}</a>
                    <!-- <a class="btn cvVersionEn" href="https://drive.google.com/file/d/1pB71v0SeVKZQlR2cBg-TK63EqEE9bHrB/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">  {{'model.download' | translate}}</a> -->
                </div>
            </div>   
        </div>
    </div>
</section>
