.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bgColorFooter);
    color: white;
    vertical-align: middle;
    display: flex;
    justify-content:space-around;
  }
